.logo{
     float: left;
    margin-top: 12px;
}

ul {
    float: right;
}

li{
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    margin-bottom: 15px;

}

.text{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.wrapper{
    width: 1440px;
    margin: 0 auto;
    padding: 0 206px;
    box-sizing: border-box;
}

.brkar{
    width: 1028px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.g{
    border: 1px solid green;
    border-radius: 8px;

}

.primer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


